﻿@{
    ViewData["Title"] = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content-wrap">

    <div class="row">

        <div id="main" class="twelve columns">

            <section class="page">

                <h2 class="entry-title">
                    About Me
                </h2>

                <p class="lead">My name is Michael Shpilt. I’m a software developer and a blogger. My day job is working as a team lead at OzCode, a company dedicated to improving debugging for .NET developers. I blog about .NET, office life, and the C# language. I’ve got a book coming out soon called Practical Debugging for .NET Developers.
I’ve been programming since I was 13 years old, creating stupid computer games in the Basic language. I live in Israel and work professionally for over 10 years now.</p>

                <div class="row">

                    <div class="six columns left">

                        <h5>The Blog</h5>

                        <p>
                            I started this blog in 2017. I wanted to share some knowledge and hoped it would help me with my consulting job. With time though, it became something else entirely. I discovered that I really enjoy writing about software.

                            Blogging is a lot like a role-playing game, where you measure levels by the number of posts, visitors and comments. There’s also a lot of fun in owning your own site, designing it and improving it.

                            Writing a Blog is a lot of hard work though. Research is required for almost every post and the editing process can be endless. The upside is that once I research a topic and explain it in writing to others, I often discover that I understand it myself.
                        </p>

                    </div>

                    <div class="six columns right">

                        <h5>Personal life & Career</h5>

                        <p>

                            I wanted to be a programmer ever since I was 12 years old. Like many others, I wanted to create computer games. So after high school, I went straight to a computer science degree.

                            Moving a bit forward, I decided to start my career by following my life-long dream and create a computer game. My first big game was going to be an Android MMORPG. Having no experience in Game development, Android or professional development at all, that wasn’t the best decision for a first project.

                            Sometime after, I got my first real job writing in-house tools in WinForms. I was a one-man team, without a single C# developer in my company to help. I somehow figured it out and ended up writing a pretty great suite of tools.

                            After a while, I moved to a different company, working on an enterprise WPF application in a team. At that time I realized I’m a pretty good developer. I was promoted to Tech Lead and managed a team of 6 developers for a couple of years.
                        </p>

                    </div>

                </div>

                <div class="row">

                    <div class="six columns left">

                        <h5>My Goal.</h5>

                        <p>
                            Eventually, I decided I wasn’t learning anything new and changed jobs. Right now, I’m working on OzCode, developing an awesome debugging extension for Visual Studio and working with some very smart people.
                        </p>

                    </div>

                    <div class="six columns right">

                        <h5>My Contact.</h5>

                        <p>
                            You can reach me at michael.shpilt@gmail.com or on Twitter at MichaelShpilt. Feel free to send questions, blog post requests, and any kind of feedback really. I’d love it if you subscribed to my blog, share my posts, and add comments.
                        </p>

                    </div>

                </div>

            </section> <!-- End page -->

        </div> <!-- End main -->


    </div> <!-- end row -->

</div> <!-- end content-wrap -->
