﻿@model PostInputModel
@{
    ViewData["Title"] = "CreatePost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- respond -->
<div class="respond">

    <h3>Create a post</h3>

    <!-- form -->
    <form name="postForm" method="post" asp-controller="Post" asp-action="SubmitPost" enctype="multipart/form-data" >
        <fieldset>

            <div class="group">
                <label for="cTitle">Title <span class="required">*</span></label>
                <input asp-for="@Model.Title" type="text" size="35"/>
            </div>
            <div class="group">
                <label for="cUsername">Username <span class="required">*</span></label>
                <input asp-for="@Model.Username" type="text" size="35"/>
            </div>
            <div class="group">
                <label for="cGenre">Genre <span class="required">*</span></label>
                <input asp-for="@Model.Genre" type="text" size="35" />
            </div>

            <div class="group">
                <label for="cImage">Image <span class="required">*</span></label>
                <input asp-for="@Model.Image" type="file" size="35"  />
            </div>
            <div class="message group">
                <label for="cSummary">Summary <span class="required">*</span></label>
                <textarea asp-for="@Model.Summary" rows="150" cols="200"> </textarea>
            </div>
            <div class="message group">
                <label for="cContent">Content <span class="required">*</span></label>
                <textarea asp-for="@Model.Content" rows="150" cols="200" ></textarea>
            </div>
            <button type="submit" class="submit">Submit</button>


        </fieldset>
    </form> <!-- Form End -->

</div> <!-- Respond End -->
