﻿@model UserModel
<!-- respond -->
<div class="respond">

    <h3>Register</h3>

    <!-- form -->
    <form name="postForm" method="post" asp-controller="Account" asp-action="SubmitRegister" enctype="multipart/form-data">
        <fieldset>

            <div class="group">
                <label for="cUsername">Username <span class="required">*</span></label>
                <input asp-for="Username" type="text" size="35" />
            </div>
            <div class="group">
                <label for="cUsername">Password <span class="required">*</span></label>
                <input asp-for="Password" type="password" size="35" />
            </div>
            <div class="group">
                <label for="cUsername">Email <span class="required">*</span></label>
                <input asp-for="Email" type="text" size="35" />
            </div>
            <label for="Roles">Choose a role:</label>

            <select id="Roles" asp-for="Role">
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
            <div class="group">
                <label for="cUsername">PhoneNumber <span class="required">*</span></label>
                <input asp-for="PhoneNumber" type="number" size="35" width="300" />
            </div>
            <button type="submit" class="submit">Submit</button>

        </fieldset>
    </form> <!-- Form End -->

</div> <!-- Respond End -->
