﻿@model MutipleModel
@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content-wrap">

    <div class="row">

        <div id="main" class="twelve columns">

            <article class="entry">

                <header class="entry-header">

                    <h2 class="entry-title">
                        @Model.Post.Title
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li>@Model.Post.Date</li>
                            <span class="meta-sep">&bull;</span>
                            <li>
                                <a href="#" title="" rel="category tag">@Model.Post.Genre</a>
                            </li>
                            <span class="meta-sep">&bull;</span>
                            <li>@Model.Post.Username</li>
                        </ul>
                    </div>

                </header>

                <div class="entry-content-media align-center">
                    <div class="post-thumb">
                        <img src="~/BlogImages/@Model.Post.Image"  height="600dp" width="600dp">
                    </div>
                </div>

                <div class="entry-content">
                    <p class="lead">@Model.Post.Summary</p>
                    <p>@Model.Post.Content</p>
                </div>

                <ul class="post-nav group">

                    <li class="prev"><a rel="prev" asp-controller="Post" asp-action="ViewPost" asp-route-id="@(Model.Post.ID+1)"><strong>Previous Article</a></li>
                     @if (Model.Post.ID > 1)
                    {
                        <li class="next"><a rel="next" asp-controller="Post" asp-action="ViewPost" asp-route-id="@(Model.Post.ID-1)"><strong>Next Article</a></li>
                    }
                </ul>

            </article>

            <!-- Comments
            ================================================== -->
            <div id="comments">

                <h3>@Model.Post.Comments.Count() Comments</h3>

                <!-- commentlist -->
                <ol class="commentlist">

                    <li class="depth-1">
                        @foreach (var item in Model.Post.Comments)
                        {
                        <li class="depth-1">

                            <div class="avatar">
                                <img width="50" height="50" class="avatar" src="~/images/user-03.png" alt="">
                            </div>

                            <div class="comment-content">

                                <div class="comment-info">
                                    <cite>@item.Username</cite>

                                    <div class="comment-meta">
                                        <time class="comment-time">@item.Date</time>
                                    </div>
                                </div>

                                <div class="comment-text">
                                    <p>@item.CommentContent</p>
                                </div>

                            </div>
                        </li>
                    }
                    </ol> <!-- Commentlist End -->
                    <!-- respond -->
                    <div class="respond">

                        <h3>Leave a Comment</h3>

                        <!-- form -->
                        <form name="contactForm" method="post" asp-controller="Post" asp-action="SubmitComment" asp-route-id="@Model.Post.ID">
                            <fieldset>

                                <div class="group">
                                    <label for="cName">Name <span class="required">*</span></label>
                                    <input asp-for="@Model.Comment.Username" type="text" size="35" />
                                </div>

                                <div class="group">
                                    <label for="cEmail">Email <span class="required">*</span></label>
                                    <input asp-for="@Model.Comment.Email" type="text" size="35">
                                </div>
                                <div class="message group">
                                    <label for="cMessage">Message <span class="required">*</span></label>
                                    <textarea asp-for="@Model.Comment.CommentContent" rows="10" cols="50" ></textarea>
                                </div>
                                <button type="submit" class="submit">Submit</button>

                            </fieldset>
                        </form> <!-- Form End -->

                    </div> <!-- Respond End -->

                </div>  <!-- Comments End -->


            </div> <!-- main End -->

        </div> <!-- end row -->

    </div> <!-- end content-wrap -->
