﻿@model List<PostModel>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Content
================================================== -->
<div id="content-wrap">

    <div class="row">

        <div id="main" class="twelve columns align-center centered text-center">
            @foreach (var item in Model)
            {
                <article class="entry ">

                    <header class="entry-header">

                        <h2 class="entry-title">
                            <a asp-controller="Post" asp-action="ViewPost" asp-route-id="@item.ID" title="">@item.Title</a>
                        </h2>
                        <div class="entry-content-media">
                            <div class="post-thumb">
                                <img src="~/BlogImages/@item.Image" height="300dp" width="300dp">
                            </div>
                        </div>
                        <div class="entry-meta ">
                            <ul>
                                <li>@item.Date</li>
                                <span class="meta-sep">&bull;</span>
                                <li><a href="#" title="" rel="category tag">@item.Genre</a></li>
                                <span class="meta-sep">&bull;</span>
                                <li>@item.Username</li>
                            </ul>
                        </div>

                    </header>

                    <div class="entry-content">
                        <p>@item.Summary</p>
                    </div>
                </article> <!-- end entry -->
                <hr />
            }

        </div> <!-- end main -->
    </div> <!-- end row -->

    @if (Model.Any())
    {
        <div class="row add-bottom">

            <div class="twelve columns add-bottom">

                <nav class="pagination add-bottom">

                    <span class="page-numbers prev inactive">Prev</span>
                    <span class="page-numbers current">1</span>
                    <a href="#" class="page-numbers">2</a>
                    <a href="#" class="page-numbers">3</a>
                    <a href="#" class="page-numbers">4</a>
                    <a href="#" class="page-numbers">5</a>
                    <a href="#" class="page-numbers">6</a>
                    <a href="#" class="page-numbers">7</a>
                    <a href="#" class="page-numbers">8</a>
                    <a href="#" class="page-numbers">9</a>
                    <a href="#" class="page-numbers next">Next</a>

                </nav>

            </div>

            <hr />

        </div> <!-- Row End-->
    }

</div> <!-- end content-wrap -->