﻿<!DOCTYPE html>
<html lang="en">
<head>

    <!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>CodeNerd</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/default.css">
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="~/css/media-queries.css">
    <link rel="stylesheet" href="~/css/Login.css">
    <!-- Script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.png">

</head>
<body>

    <header id="top">

        <div class="row">

            <div class="header-content twelve columns">

                <h1 id="logo-text">
                    <a asp-controller="Home" asp-action="Index" title="">CodeNerd</a>

                </h1>
                <p id="intro"><strong><font color="red">Hello @User.Identity.Name!</font>, Eat, sleep, games, and code!</strong></p>

            </div>
        </div>

        <nav id="nav-wrap">

            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>
            <div class="row">
                <ul id="nav" class="nav">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Post" asp-action="AboutMe">About Me</a>
                    </li>
                    
                    <partial name="_LoginPartial" />
                </ul>
                <!-- end #nav -->
                <ul id="nav" class="nav" style="float: right">
                    <form asp-controller="Home" asp-action="Search">
                        <li>
                            <input type="text" name="search" placeholder="Search here..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }"
                                   class="text-search">
                        </li>
                        <li>
                            <input type="submit" value="Search" class="submit-search">
                        </li>
                    </form>
                </ul>
            </div>

        </nav>
        <!-- end #nav-wrap -->



    </header>

    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer
    ================================================== -->
    <footer>

        <div class="row">

            <div class="twelve columns">

            </div>

            <div class="six columns info">

                <h3>About This blog</h3>

                <p>
                    I started this blog in 2017. I wanted to share some knowledge and hoped it would help me with my consulting job. With time though, it became something else entirely. I discovered that I really enjoy writing about software.

                    Blogging is a lot like a role-playing game, where you measure levels by the number of posts, visitors and comments. There’s also a lot of fun in owning your own site, designing it and improving it.

                    Writing a Blog is a lot of hard work though. Research is required for almost every post and the editing process can be endless. The upside is that once I research a topic and explain it in writing to others, I often discover that I understand it myself.

                </p>



            </div>

            <div class="four columns">

                <h3>Follow me on</h3>
                <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>

            </div>

            <div class="two columns">
                <h3 class="social">Navigate</h3>

                <ul class="navigate group">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Post" asp-action="AboutMe">About Me</a>
                    </li>
                    <li>
                        <a asp-controller="Post" asp-action="CreatePost">Create Post</a>
                    </li>
                </ul>
            </div>

            <p class="copyright">&copy; Copyright 2014 Keep It Simple. &nbsp; Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a>.</p>

        </div> <!-- End row -->

        <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-chevron-up"></i></a></div>

    </footer> <!-- End Footer-->
    <!-- JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    @RenderSection("Scripts", required: false)


</body>
</html>
