﻿@if (User.Identity.Name == null)
{

    <li>
        <!-- Button to open the modal login form -->
        <a href="javascript:void(0);" onclick="document.getElementById('id01').style.display='block'">Login</a>

        <!-- The Modal -->
        <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'"
                  class="close" title="Close Modal">&times;</span>

            <!-- Modal Content -->
            <form class="modal-content animate" method="post" asp-controller="Account" asp-action="Login">
                <div class="imgcontainer">
                    <img src="~/images/user-03.png" alt="Avatar" class="avatar">
                </div>

                <div class="container">
                    <label for="Username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="Username" required>

                    <label for="Password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="Password" required>

                    <button type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>
    </li>
    <li>
        <a asp-controller="Account" asp-action="Register">Register</a>
    </li>
}
else
{
    <li>
        <a asp-controller="Post" asp-action="CreatePost">Create Post</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
}


